header{
  height: 80px;
  background-color: #ff6d283b;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
button{
  height: 30px;
  border-radius: 4px;
  background-color: white;
  align-self: center;
  font-weight: bolder;
  color: rgb(255, 13, 13);
}
body{
  background-color: #ffbb5587;
}
.blockList{
  margin: 60px auto;
  max-width: min-content;
  height: 400px;
  border-radius: 10px;  
  background-color: rgb(104 164 255);
  display: flex;
  padding: 2px;
  align-items: flex-end;
}
.block{
  margin: 3px;
  padding: 4px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 8px;
  width: 20px;
  text-align: center;
  font-weight:  bold;
}